* {
    margin: 0;
    padding: 0;
}

nav span {
    margin-left: 0px;
}

nav ul {
    margin-right: 0px;
}

nav {
    display: flex;
    background-color: antiquewhite;
    justify-content: space-around;
    height: 7vh;
    /* align-items: center; */
    width: 100%;
}

ul {
    display: flex;
}

span img {
    height: 40px;
}

ul li {
    margin: 10px;
    padding: 5px;
    color: rgb(48, 48, 48);
    font-weight: bolder;
    cursor: pointer;
    list-style: none;
}

section h1 {
    text-align: center;
    margin: 50px;
}

section h3 {
    text-align: center;
    margin: 40px;
    font-weight: lighter;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: sticky;
    top: 0;
}

main section {
    align-content: center;
}

.btn {
    display: flex;
    font-size: 20px;
    background-color: aqua;
    text-align: center;
    width: 300px;
    border-radius: 7px;
    height: 30px;
    align-items: center;
    margin: auto;
    color: black;
}

main div h3 {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 12.5%;
    padding: 10px;
    background-color: rgb(219, 227, 228);
    width: 20%;
    text-align: center;
    border-radius: 10px;

}

.boxes {
    display: grid;
    width: 75%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "tl tm tr"
                        "ml mm mr";
}

.english {
    background-color: aqua;
    grid-area: tl;
}

.deutsch {
    background-color: antiquewhite;
    grid-area: tm;
}

.italiano {
    background-color: aquamarine;
    grid-area: tr;
}

.espanol {
    background-color: cornflowerblue;
    grid-area: ml;
}

.francais {
    background-color: blueviolet;
    grid-area: mm;
}

.portugues {
    background-color: orchid;
    grid-area: mr;
}

div section {
    margin: 10px;
    height: 200px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    justify-items: center;
}

h4:first-child {
    margin: 20px;
    font-weight: bolder;
    font-size: 20px;
}

p:nth-child(2) {
    margin: 20px;
}

h4:nth-child(3) {
    margin: 30px;
    background-color: white;
    width: 60%;
    border-radius: 20px;
    text-align: center;
    align-content: center;
}

@media only screen and (max-width:350px) {
    body {
        background-color: blue;
    }

    main div h3 {
        display: flex;
        margin-top: 40px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        background-color: rgb(219, 227, 228);
        width: 50vw;
        text-align: center;
        justify-content: center;
        border-radius: 10px;

    }

    .boxes {
        display: grid;
        width: 500px;
        margin: auto;
        grid-template-areas: "tl"
            "tm"
            "tr"
            "ml"
            "mm"
            "mr";
    }

    main div div section {
        width: 50vh;
        display: flexbox;
        justify-content: center;
    }

    .english {
        background-color: aqua;
        grid-area: tl;
    }

    .deutsch {
        background-color: antiquewhite;
        grid-area: tm;
    }

    .italiano {
        background-color: aquamarine;
        grid-area: tr;
    }

    .espanol {
        background-color: cornflowerblue;
        grid-area: ml;
    }

    .francais {
        background-color: blueviolet;
        grid-area: mm;
    }

    .portugues {
        background-color: orchid;
        grid-area: mr;
    }

}